.sounds-show {
  padding: 1rem;

  h2 {
    text-decoration: underline;
  }

  .sound {
    padding: 2rem;
    border-bottom: 1px solid black;

    h2 {
      display: inline-block;
    }

    .links {
      display: inline-block;
    }

    audio {
      margin: 1rem 0;
      width: 100%;
    }
  }

  .sections {
    padding: 2rem;
    border-bottom: 1px solid black;

    .section-box {
      .name {
        font-weight: 500;
      }

      .time-span {
        font-size: 0.8rem;
        margin-right: 1rem;
      }
    }
  }

  .new-section {
    padding: 2rem;
  }
}
