.sounds-show {
  padding: 1rem;

  .sound {
    padding: 2rem;
    border-bottom: 1px solid black;

    h2 {
      display: inline-block;
    }

    .links {
      display: inline-block;
    }

    audio {
      margin: 1rem 0;
      width: 100%;
    }
  }

  .sections {
    padding: 2rem;
    border-bottom: 1px solid black;
  }

  .new-section {
    padding: 2rem;
  }
}
